@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Caveat:wght@400..700&family=Fruktur:ital@0;1&family=Germania+One&family=Manufacturing+Consent&family=Michroma&family=Shadows+Into+Light+Two&display=swap');

:root
{
  --font-primary: "Shadows Into Light Two", Verdana, sans-serif;
  --font-secondary: "Aclonica", Times, serif;
  
  --font-artistic: "Michroma", serif;
  --font-monospace: "Courier New", Courier, monospace;

  --font-small: .7em;
  --font-base: 16px;
  --font-medium: 1.2em;
  --font-large: 1.6em;
  --font-xlarge: 2rem;
  --font-xxlarge: 3rem;

  --bg-main: #090809;
  --bg-primary: #4A4C42;
  --bg-secondary: white;

  --button-hover: #4a4C42;
  --button-hover-txt: white;
  --button-bg: black;

  --main-border: #FBD437;

  --accent-color: #FBD437;
  --text-main: #FFFFFF;
  --text-secondary: black;

  --heading-h1: #FBD437;
  --heading-h2: #FBD437;
  --heading-h3-h7: #FBD437;

  --error-text: #b30000;
  --error-background: #e46767;

  --link-color: #FBD437;
}